In [1]:
myDictionary = {'me': 5, 'goose':9, 'milda':20}

In [2]:
myDictionary['me']

5

In [4]:
myDictionary[5]

KeyError: 5

In [5]:
#tuple
t=(1,2,3)
t[0] = 'tyler'

TypeError: 'tuple' object does not support item assignment

In [7]:
#list
t=[1,2,3]
t[0] = 'tyler'
t

['tyler', 2, 3]

In [8]:
#set
#set can only have one of each value
a = {1,2,1,1,1,1,2,4,5,6,7}
a

{1, 2, 4, 5, 6, 7}

In [10]:
myAge = 29
dogAge = 4.5
firstTwo = 2
myDogAge = (10.5 * firstTwo) + ((dogAge-firstTwo)*4)
myDogAge

31.0

In [16]:
import numpy as np
#dog gets old fast in new formula
DOG = (16 * np.log(dogAge)) + 31

In [18]:
if DOG < myAge:
    print('I am older!')
elif myAge == DOG:
    print('we are equal')
else: print('Dog is older!!!!!!')

Dog is older!!!!!!

In [21]:
if DOG > myAge:
    print('I am older!')
elif myAge == DOG:
    print('we are equal')
else: print('Dog is older!!!!!!')

I am older!

In [22]:
myAge = DOG
if DOG > myAge:
    print('I am older!')
elif myAge == DOG:
    print('we are equal')
else: print('Dog is older!!!!!!')

we are equal

In [23]:
dogName = ['b', 'r', 'o', 'd', 'y']
for l in dogName:
    print(l)

b
r
o
d
y

In [24]:
dogName = ['b', 'r', 'o', 'd', 'y']
for l in dogName:
    print(l + ' dog')

b dog
r dog
o dog
d dog
y dog

In [25]:
i = 5
while i< 10:
    print(i)
    i = i + 1

5
6
7
8
9

In [26]:
list(range(5))

[0, 1, 2, 3, 4]

In [27]:
list(range(2,5))

[2, 3, 4]

In [29]:
for x in range(5):
    print(x)

0
1
2
3
4

In [36]:
x = [1,2,3,4,5]

out = []
for num in x: 
    out.append(num**2)
print(out)

[1, 4, 9, 16, 25]

In [34]:
x

[1, 2, 3, 4, 5]

In [35]:
[num**2 for num in x]

[1, 4, 9, 16, 25]

In [37]:
def myFunc():
    print("hello ")

In [38]:
myFunc

In [39]:
myFunc()

hello

In [40]:
def myFunc(n):
    print("hello " + n)

In [41]:
myFunc('tyler')

hello tyler

In [42]:
def myFunc(n = 'NONE'):
    print("hello " + n)

In [43]:
myFunc()

hello NONE

In [45]:
def myFunc(n = 'NONE'):
    '''
    You can add docstring and press shift + tab
    
    '''
    print("hello " + n)

In [49]:
myFunc

In [50]:
def square(x):
    return x**2

In [53]:
result = square(2)

In [55]:
result

4

In [56]:
def times_two(var):
    return var*2

In [57]:
times_two(5)

10

In [58]:
#this is same as times two
lambda var: var*2

In [59]:
d = {'d': 'd1', 'a': 'a1', 'c': 'c1'}

In [60]:
d.keys()

dict_keys(['d', 'a', 'c'])

In [61]:
d.items()

dict_items([('d', 'd1'), ('a', 'a1'), ('c', 'c1')])

In [62]:
d.values()

dict_values(['d1', 'a1', 'c1'])

In [63]:
myList = [1,2,3]

In [64]:
myList

[1, 2, 3]

In [65]:
myList.pop(2)

3

In [66]:
myList

[1, 2]

In [67]:
myList.pop(0)

1

In [68]:
myList

[2]

In [69]:
2 in myList

True

In [70]:
1 in myList

False