In [2]:
listOfNumbers= [1,2,3,4,5,6]

In [3]:
for number in listOfNumbers:
    if(number % 2 ==0):
        print(number, 'is even')
    else:
        print(number, 'is odd')
    print('done')

1 is odd
done
2 is even
done
3 is odd
done
4 is even
done
5 is odd
done
6 is even
done

In [4]:
import numpy as np

In [5]:
A = np.random.normal(25.0, 5.0, 10)
print(A)

[31.46186863 28.42580088 24.26146726 24.73109103 31.73005032 18.61454641
 22.79455161 20.63415684 18.57080199 25.77944145]

In [6]:
A[:3]

array([31.46186863, 28.42580088, 24.26146726])

In [7]:
A[-2:]

array([18.57080199, 25.77944145])

In [18]:
x = listOfNumbers
x.extend([5,6])
print(x)

[1, 2, 3, 4, 5, 6, 5, 6, 5, 6, 5, 6]

In [20]:
x.append(12)
print(x)

[1, 2, 3, 4, 5, 6, 5, 6, 5, 6, 5, 6, 12, 12]

In [23]:
y = [15,5,2]
listOfL = [x,y]
print(listOfL)

[[1, 2, 3, 4, 5, 6, 5, 6, 5, 6, 5, 6, 12, 12], [15, 5, 2]]

In [28]:
y.sort()
y

[2, 5, 15]

In [31]:
y.sort(reverse = True)
y

[15, 5, 2]

In [36]:
w=(5,2,1)
w

(5, 2, 1)

In [37]:

type(w)

tuple

In [38]:
u = (5,2,1,5)
listT = [w,u]

In [39]:
listT

[(5, 2, 1), (5, 2, 1, 5)]

In [40]:
listT[1][2]

1

In [41]:
(age,income) = "53.22".split('.')

In [42]:
age

'53'

In [43]:
income

'22'

In [45]:
#Dictionary

In [46]:
captains= {}
captains['Enterprise'] = 'Kirk'
captains

{'Enterprise': 'Kirk'}

In [47]:
captains['Enterpise2'] = 'Nice'

In [48]:
captains

{'Enterprise': 'Kirk', 'Enterpise2': 'Nice'}

In [49]:
captains['The Enterprise'] = ' RedHat'

In [51]:
captains['Enterpise2']

'Nice'

In [52]:
captains.get('Enterprise')

'Kirk'

In [55]:
print(captains.get('goose'))

None

In [58]:
for ship in captains:
    print(ship + ": " + captains[ship])

Enterprise: Kirk
Enterpise2: Nice
The Enterprise:  RedHat

In [60]:
def SquareIt(x):
    return x * x
print(SquareIt(2))

4

In [65]:
def DoSomething(f,x):
    return f(x)
print(DoSomething(SquareIt,3))

9

In [64]:
print(DoSomething(lambda x: x * x * x, 3))

27

In [67]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [71]:
for x in range(10):
    if(x is 1):
        continue
    if(x>5):
        break
    print(x)

0
2
3
4
5

In [77]:
x=0
while(x<10):
    print(x)
    x+=1

0
1
2
3
4
5
6
7
8
9

In [81]:
listInt = [1,2,3,4,5,6,7,8,9,10]
print(listInt)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [82]:
type(listInt)

list

In [87]:
for x in listInt:
    if(x % 2 == 0):
        print(x)

2
4
6
8
10